@import 'genericons';

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Clearings
3.0 - Alignments
4.0 - Typography
5.0 - Elements
6.0 - Forms
7.0 - Media
8.0 - Navigation
9.0 - Accessiblity
10.0 - Widgets
11.0 - Content
12.0 - Infinite scroll
13.0 - Media
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
  outline: 0;
}

html {
  font-size: 55.0%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */

  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */

  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
      -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

* {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
     -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
          box-sizing: border-box;
  &:before,
  &:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
       -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
            box-sizing: border-box;
  }
}

body {
  background: white;
}

/* clearfix */

.clearfix {
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

.clear {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;

  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;

      -ms-hyphens: none;
       -o-hyphens: none;
}

ol,
ul {
  list-style: none;
}

table {
  /* tables still need 'cellbaseline="0"' in the markup */
  border-collapse: separate;

  border-baseline: 0;
}

caption,
th,
td {
  font-weight: normal;

  text-align: left;
}

blockquote {
  &:before,
  &:after {
    content: '';
  }
}

q {
  &:before,
  &:after {
    content: '';
  }
}

blockquote,
q {
  quotes: '' '';
}

a {
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
  img {
    border: 0;
  }
}

::selection,
::-moz-selection {
  color: white;
  background: #cf000f;
}

/*--------------------------------------------------------------
2.0 Clearings
--------------------------------------------------------------*/

.clear {
  &:before,
  &:after {
    display: table;

    content: '';
  }
}

.entry-content {
  &:before,
  &:after {
    display: table;

    content: '';
  }
}

.comment-content {
  &:before,
  &:after {
    display: table;

    content: '';
  }
}

.site-header {
  &:before,
  &:after {
    display: table;

    content: '';
  }
}

.site-content {
  &:before,
  &:after {
    display: table;

    content: '';
  }
}

.site-footer {
  &:before,
  &:after {
    display: table;

    content: '';
  }
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;

  margin-right: 20px;
}

.alignright {
  display: inline;
  float: right;

  margin-left: 20px;
}

.aligncenter {
  display: block;
  clear: both;

  margin: 0 auto;
}

img {
  &.alignright {
    margin-left: 10px;
  }
  &.alignleft {
    margin-right: 10px;
  }
}

/*--------------------------------------------------------------
4.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;

  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arimo', sans-serif;

  clear: both;

  margin-bottom: 10px;

  color: #111;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.875;
}

h4 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.14286;
}

h5 {
  font-size: 12.5px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2.4;
}

h6 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5;
}

h1 {
  &.page-title {
    color: #777;
  }
  &.entry-title a {
    color: #444;
    &:visited {
      color: #444;
    }
    &:hover {
      text-decoration: none;

      color: #cf000f;
    }
  }
  &.widget-title {
    font-size: 16px;
    font-size: 1.6rem;

    padding: 20px 0;

    text-transform: uppercase;
  }
  &.site-title {
    font-size: 25.6px;
    font-size: 2.56rem;
    font-weight: 700;

    text-transform: uppercase;
    .second-title {
      display: none;
    }
    a:hover {
      color: #a00101;
    }
  }
}

h2 {
  &.site-description {
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 200;

    opacity: .8;
  }
  &.comments-title {
    font-size: 25.6px;
    font-size: 2.56rem;

    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  h2.site-description {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 10px;

    opacity: 1;
    background-color: #cf000f;
  }
}

@media (min-width: 350px) and (max-width: 350px) {
  h2.site-description {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.widget {
  font-size: 14px;
  font-size: 1.4rem;
}

p {
  margin-bottom: 20px;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

.format-quote .entry-content {
  font-style: italic;

  padding: 40px 0 20px 0;

  color: #777;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

blockquote {
  font-style: italic;

  margin: 20px 0;
  padding: 40px 0 20px 0;

  color: #777;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.format-quote .entry-content blockquote {
  margin: 0;
  padding: 0;

  border-top: none;
  border-bottom: none;
}

address {
  margin: 0 0 20px;
}

pre {
  font-family: 'Courier 10 Pitch', Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;

  overflow: auto;

  max-width: 100%;
  margin-bottom: 20px;
  padding: 20px;

  background: #eee;
}

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 14px;
  font-size: 1.4rem;
}

abbr,
acronym {
  cursor: help;

  border-bottom: 1px dotted #777;
}

mark,
ins {
  text-decoration: none;

  background: #fff9c0;
}

sup,
sub {
  font-size: 75%;
  line-height: 0;

  position: relative;

  height: 0;

  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

/*--------------------------------------------------------------
5.0 Elements
--------------------------------------------------------------*/

hr {
  height: 1px;
  margin-bottom: 20px;

  border: 0;
  background-color: #2f3134;
}

figure {
  margin: 0;
}

ul,
ol {
  margin: 0 0 20px 40px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > {
  ul,
  ol {
    margin-bottom: 0;
    margin-left: 20px;
  }
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 20px 20px;
}

table {
  width: 100%;
  margin: 0 0 20px;
}

th {
  font-weight: bold;
}

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */

  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */

  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */

  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

select {
  width: 100%;
}

input {
  &[type='checkbox'],
  &[type='radio'] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
  }
  &[type='search'] {
    /* Addresses appearance set to searchfield in S5, Chrome */
    -webkit-box-sizing: content-box;
    /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
       -moz-box-sizing: content-box;
            box-sizing: content-box;

    -webkit-appearance: textfield;
    &::-webkit-search-decoration {
      /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
      -webkit-appearance: none;
    }
  }
}

button::-moz-focus-inner {
  padding: 0;
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */

  border: 0;
}

input {
  &::-moz-focus-inner {
    padding: 0;
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */

    border: 0;
  }
  &[type='text'],
  &[type='email'],
  &[type='url'],
  &[type='password'],
  &[type='search'] {
    color: #777;
    border: 3px solid #eee;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
  }
}

textarea {
  color: #777;
  border: 3px solid #eee;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

input {
  &[type='text']:focus,
  &[type='email']:focus,
  &[type='url']:focus,
  &[type='password']:focus,
  &[type='search']:focus {
    color: #333;
  }
}

textarea:focus {
  color: #333;
}

input {
  &[type='text'],
  &[type='email'],
  &[type='url'],
  &[type='password'],
  &[type='search'] {
    padding: 4px;
  }
}

textarea {
  overflow: auto;
  /* Improves readability and alignment in all browsers */

  width: 98%;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;

  vertical-align: top;
}

.search-form input.search-field {
  width: 90%;
  padding: 5px 10px;

  color: #444 !important;
  border: 1px solid #ddd;
  background: whitesmoke;
}

#secondary .search-form input.search-field {
  background: #ccc;
}

.search-form input:focus {
  border: 1px solid #333;
  outline: none;
  background: white;
  box-shadow: none;
}

button {
  font-size: 100%;
  /* Improves appearance and consistency in all browsers */
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */

  display: inline-block;
  /* Corrects font size not being inherited in all browsers */

  margin: 0;
  padding: 5px 10px;

  cursor: pointer;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* stops bg color from leaking outside the border: */

  color: #2f3134;
  border: 3px solid #2f3134;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: white;
  background-clip: padding-box;
  /* Improves appearance and consistency in all browsers */

  *vertical-align: middle;
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
}

input {
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */

    display: inline-block;

    padding: 5px 10px;

    cursor: pointer;
    /* stops bg color from leaking outside the border: */

    color: #2f3134;
    border: 3px solid #2f3134;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: white;
    background-clip: padding-box;

    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
  }
}

button:hover {
  color: #cf000f;
  border: 3px solid #cf000f;
  background: white;
}

input {
  &[type='button']:hover,
  &[type='reset']:hover,
  &[type='submit']:hover {
    color: #cf000f;
    border: 3px solid #cf000f;
    background: white;
  }
}

button:focus {
  color: #cf000f;
  border: 3px solid #cf000f;
  background: white;
}

input {
  &[type='button']:focus,
  &[type='reset']:focus,
  &[type='submit']:focus {
    color: #cf000f;
    border: 3px solid #cf000f;
    background: white;
  }
}

button:active {
  color: #cf000f;
  border: 3px solid #cf000f;
  background: white;
}

input {
  &[type='button']:active,
  &[type='reset']:active,
  &[type='submit']:active {
    color: #cf000f;
    border: 3px solid #cf000f;
    background: white;
  }
}

/*--------------------------------------------------------------
7.0 Media
--------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  border: none;
}

.wp-caption {
  max-width: 100%;
  margin-bottom: 20px;

  border: 1px solid #ccc;
  img[class*='wp-image-'] {
    display: block;

    max-width: 98%;
    margin: 1.2% auto 0;
  }
  .wp-caption-text {
    margin: 10px 0;
  }
}

.gallery-caption {
  font-size: 90%;
}

.wp-caption-text {
  font-size: 85%;

  text-align: center;
}

.site-main .gallery {
  margin-bottom: 20px;
  a img {
    max-width: 90%;
    height: auto;

    border: none;
  }
  dd {
    margin: 0;
  }
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
  max-width: 100%;
}

img {
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */
  max-width: 100%;
  height: auto;
}

.entry-thumbnail {
  text-align: center;
}

img {
  &.alignleft {
    margin: 20px 20px 20px 0;
  }
  &.alignright {
    margin: 20px 0 20px 20px;
  }
  &.aligncenter {
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
8.0 Navigation
--------------------------------------------------------------*/

.main-navigation {
  font-weight: 700;

  clear: both;

  padding: 0;

  background: #cf000f;
  ul {
    margin: 0;
    padding-left: 0;

    list-style: none;
    ul {
      top: 0;

      display: none;

      margin: 0;
      padding: 0;

      color: white;
      background: #cf000f;
      li {
        a {
          padding-left: 40px;

          opacity: .7;
          &:hover {
            opacity: 1;
            background: #a00101;
          }
        }
        &:first-child a,
        &:last-child a {
          padding: 10px 20px 10px 40px;
        }
      }
      ul {
        li {
          a {
            padding-left: 60px;
          }
          &:first-child a,
          &:last-child a {
            padding: 10px 20px 10px 60px;
          }
        }
        ul li {
          a {
            padding-left: 80px;
          }
          &:first-child a,
          &:last-child a {
            padding: 10px 20px 10px 80px;
          }
        }
      }
    }
  }
  li {
    a {
      position: relative;

      padding: 10px 20px;

      background: #cf000f;
      &:hover {
        color: white;
        background: #a00101;
      }
    }
    &:first-child a {
      padding: 20px 20px 10px 20px;
    }
    &:last-child a {
      padding: 10px 20px 20px 20px;
    }
  }
  a {
    display: block;

    text-transform: uppercase;

    opacity: 1;
    color: white;
    &:visited {
      display: block;

      text-transform: uppercase;

      opacity: 1;
      color: white;
    }
    &:hover {
      opacity: 1;
      color: white;
    }
  }
  ul ul.sub-on {
    display: block;
  }
  .current_page_item a,
  .current-menu-item a {
    color: #eee;
  }
}

.site-main [class*='navigation'] {
  overflow: hidden;

  margin: 0;
}

[class*='navigation'] {
  .nav-previous {
    float: left;

    width: 50%;
  }
  .nav-next {
    float: right;

    width: 50%;

    text-align: right;
  }
}

.nav-links {
  overflow: hidden;

  padding: 20px;
}

.nav-previous a,
.nav-next a {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;

  margin-bottom: 5px;
  &:visited {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;

    margin-bottom: 5px;
  }
}

#social-links-wrapper {
  display: block;
  clear: both;

  padding: 40px 20px;
}

.social-links ul a:before,
#mobile-link:before,
.showsub-toggle,
#widget-link {
  font-family: 'Genericons';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;

  vertical-align: text-bottom;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
}

.showsub-toggle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 40px;
  height: 41px;

  content: '';
  transition: all .2s ease;

  opacity: .5;
  &:after {
    font-size: 16px;

    position: absolute;
    top: 14px;
    right: 11px;

    width: 16px;
    height: 16px;

    content: '\f502';

    color: #eee;
  }
  &:hover,
  &:focus,
  &.sub-on {
    opacity: 1;
  }
  &:hover:after,
  &:focus:after {
    color: white;
  }
  &.sub-on:after {
    top: 6px;

    content: '\f500';
  }
}

.social-links {
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
    li {
      display: inline-block;

      margin: 0 0 4px 0;

      list-style: none;
    }
    a {
      display: inline-block;

      text-decoration: none;
      &:before {
        font-size: 28px;

        display: block;

        padding: 5px;

        transition: all .1s ease-in-out;
        text-align: center;

        color: white;
      }
      &:hover {
        text-decoration: none;
        &:before {
          transition: all .1s ease-in-out;

          background: #cf000f;
        }
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
    a {
      &[href*='wordpress.org']:before,
      &[href*='wordpress.com']:before {
        content: '\f205';
      }
      &[href*='facebook.com']:before {
        content: '\f204';
      }
      &[href*='twitter.com']:before {
        content: '\f202';
      }
      &[href*='dribbble.com']:before {
        content: '\f201';
      }
      &[href*='plus.google.com']:before {
        content: '\f206';
      }
      &[href*='pinterest.com']:before {
        content: '\f209';
      }
      &[href*='github.com']:before {
        content: '\f200';
      }
      &[href*='tumblr.com']:before {
        content: '\f214';
      }
      &[href*='youtube.com']:before {
        content: '\f213';
      }
      &[href*='flickr.com']:before {
        content: '\f211';
      }
      &[href*='vimeo.com']:before {
        content: '\f212';
      }
      &[href*='instagram.com']:before {
        content: '\f215';
      }
      &[href*='codepen.io']:before {
        content: '\f216';
      }
      &[href*='linkedin.com']:before {
        content: '\f207';
      }
      &[href*='/feed']:before {
        content: '\f413';
      }
      &:before {
        content: '\f415';

        background: #666;
      }
    }
  }
}

#mobile-panel {
  /* height: 45px; */
  overflow: hidden;

  width: 100%;

  background: #cf000f;
}

#mobile-link {
  display: inline-block;
  float: left;

  width: 50px;
  height: 45px;
  padding: 10px;

  cursor: pointer;

  color: white;
  &:hover,
  &.active {
    background: rgba(0, 0, 0, .4);
  }
  &:before {
    font-size: 28px;

    content: '\f419';
  }
}

#mobile-panel h1.site-title {
  font-size: 18px;
  font-size: 1.8rem;

  position: absolute;

  float: right;
  clear: none;

  margin: 0;
  padding: 15px 10px 0 10px !important;
  a {
    color: white;
  }
}

#mobile-block {
  top: 0;

  display: none;
  overflow: hidden;

  border-top: 1px solid #fff;
  &.active {
    display: block;
  }
}

a {
  transition: all .2s ease;
  text-decoration: none;

  color: #cf000f;
  &:hover,
  &:active,
  &:focus {
    color: #cf000f;
  }
}

.entry-summary a,
.entry-content a {
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

.entry-summary a:hover,
.entry-content a:hover {
  color: #a00101;
}

/*--------------------------------------------------------------
9.0 Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */

.screen-reader-text {
  position: absolute !important;

  clip: rect(1px, 1px, 1px, 1px);
  &:hover,
  &:active,
  &:focus {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;

    z-index: 100000;
    top: 5px;
    left: 5px;

    display: block;
    clip: auto !important;

    width: auto;
    height: auto;
    padding: 20px;

    text-decoration: none;

    color: #cf000f;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #f1f1f1;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    /* Above WP toolbar */
  }
}

/*--------------------------------------------------------------
10.0 Widgets
--------------------------------------------------------------*/

.widget {
  padding: 20px;

  color: #333;
  border-top: 2px solid #eee;
  border-bottom: 1px solid white;
  .widget select {
    max-width: 100%;
  }
  h1 {
    color: #333;
  }
  a {
    color: #333;
    &:link {
      color: #333;
    }
    &:hover {
      color: #cf000f;
    }
  }
}

/* Search widget */

.widget_search .search-submit {
  display: none;
}

.widget-areas {
  padding: 0 0 10px 0;
}

.widget {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    font-weight: 700;

    padding: 10px 0;

    list-style: none;
  }
}

.tagcloud a,
.tags-links a,
.wp_widget_tag_cloud a {
  font-size: 14px !important;
  font-weight: 700;

  display: inline-block;

  margin-bottom: 5px;
  padding: 0 10px;

  color: #2f3134 !important;
  /* stops bg color from leaking outside the border: */
  border: 3px solid #2f3134;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-clip: padding-box;
}

.tagcloud a:hover,
.tags-links a:hover,
.wp_widget_tag_cloud a:hover {
  color: #cf000f !important;
  border: 3px solid #cf000f;
}

.widget .sub-menu {
  padding-left: 10px;
}

#widget-block {
  overflow: hidden;

  width: 100%;

  background: #f2f1ef;
}

#widget-link {
  display: inline-block;
  float: left;

  width: 50px;
  height: 45px;
  padding: 10px;

  cursor: pointer;

  color: white;
  &:hover,
  &.active {
    background: rgba(0, 0, 0, .4);
  }
  &:before {
    font-size: 26px;

    content: '\f445';
  }
}

#widget-block {
  top: 0;

  display: none;
  overflow: hidden;
  &.active {
    display: block;
  }
}

.widget_recent_comments td {
  vertical-align: top;
}

#widget-block .widget-areas {
  max-width: 580px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
11.0 Content
--------------------------------------------------------------*/

body {
  width: 100%;
  margin: 0;
  padding: 0;

  background: #fafafa;
}

#page {
  position: relative;
  z-index: 1;

  overflow: hidden;

  width: 100%;

  background: white;
}

#comments,
.entry-meta,
.entry-content,
.entry-summary,
.entry-header,
.entry-meta {
  max-width: 680px;
  margin: 0 auto;
}

#content {
  padding: 0;
}

.entry-thumbnail {
  margin-right: -20px;
  margin-left: -20px;
}

#masthead,
#secondary {
  display: none;
}

.site-branding {
  margin: 0;
  padding: 20px;
}

#header-image {
  &.custom-header {
    position: relative;

    border-bottom: none;
    background-color: rgba(0, 0, 0, .53);
    a {
      position: relative;

      display: block;

      width: 100%;
      /* height: 100%; */
    }
    img {
      height: 100%;
    }
    a:after {
      font-family: 'Arimo', sans-serif;
      font-size: 16px;
      font-style: italic;

      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;

      display: block;

      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;

      content: 'Марина Невдовец';

      color: #fff;
      background-color: rgba(0, 0, 0, .53);
    }
  }
  &.no-header {
    height: 240px;

    border-bottom: 1px solid #a00101;
    background: #cf000f;
  }
}

#colophon {
  font-size: 14px;
  font-size: 1.4rem;

  clear: both;

  margin: 0 20px;
  padding: 20px 0;

  border-top: 4px solid #444;
  a {
    color: #333;
    &:hover {
      color: #cf000f;
    }
  }
}

.hentry {
  margin: 0;
  padding: 0 20px;

  border-bottom: 1px solid #eee;
}

.page-header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-bottom: 20px;

  border-bottom: 3px solid #777;
}

.byline,
.updated {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-content,
.entry-summary {
  padding-top: 20px;
}

.page-links {
  clear: both;

  margin: 0 0 20px;
}

.entry-header,
.page-title {
  padding: 20px 0 0 0;
}

.entry-meta {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 700;

  padding: 40px 0 20px;

  border-bottom: 3px solid #333;
  a {
    color: #333;
    &:hover {
      color: #cf000f;
    }
  }
}

footer.entry-meta {
  margin-bottom: 80px;
  padding: 20px 0;

  border-bottom: none;
}

.comments-link {
  float: right;
}

.edit-link {
  padding: 0 0 0 20px;

  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.entry-top span {
  &:after {
    margin: 0 5px;

    content: '\5c0';
  }
  &:last-child:after {
    content: none;
  }
  &.author:after,
  &.comments-link:after,
  &.edit-link:after {
    margin-left: 0;

    content: none;
  }
}

.entry-meta .edit-link {
  padding: 0;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

.comment-content a {
  word-wrap: break-word;
}

ol.comment-list li.bypostauthor {
  .comment-wrapper {
    border-bottom: none;
  }
  article {
    border-bottom: 3px solid #a00101;
  }
}

#comments {
  padding: 40px 20px;
}

p.no-comments {
  font-weight: 900;

  max-width: 680px;
  margin: 0 auto;
}

ol.comment-list li {
  position: relative;
  z-index: 9990;

  list-style: none;
}

li.pingback {
  font-size: 90%;
  font-style: italic;

  margin: 5px 0;

  opacity: .8;
  &:last-child {
    padding-bottom: 10px;
  }
}

ol.comment-list {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 20px 0;
  }
  ol.children li {
    display: block;
  }
}

.comment-list {
  .comment-author img.avatar {
    float: left;

    margin: 0 10px 5px 0;
  }
  .fn {
    margin: 0;
  }
}

.comment-meta {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  a {
    color: #777;
    &:hover {
      color: #cf000f;
    }
  }
}

.sticky .entry-content {
  margin-bottom: 5px;
  padding: 10px 5px 0 5px;
}

.comment-meta {
  font-size: 14px;
  font-size: 1.4rem;

  padding: 0 0 5px 0;
}

.comment-wrapper {
  position: relative;

  margin-bottom: 10px;
  margin-left: 70px;
  padding-bottom: 10px;

  border-bottom: 2px solid #aaa;
}

.reply {
  float: right;
}

#respond {
  margin-top: 20px;
  padding: 20px;

  color: white;
  background: #333;
}

h3#reply-title {
  color: white;
}

/*--------------------------------------------------------------
12.0 Infinite Scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll {
  .paging-navigation,
  &.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
  }
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

.infinity-end.neverending .site-footer {
  display: block;
}

#infinite-handle {
  padding: 80px 40px;

  text-align: center;
}

#infinite-footer {
  z-index: 2;

  max-width: 1380px;
}

body.secondary-sidebar #infinite-footer {
  max-width: 1080px;
}

#infinite-footer .container {
  line-height: 40px !important;

  height: 40px;
  margin: 0;
  padding: 0 40px;

  border: none;
}

span.infinite-loader {
  position: relative;

  height: 80px;
  margin: 0 auto;

  text-align: center;
  .spinner {
    z-index: 9998 !important;
    top: 0 !important;
    left: 50% !important;
  }
}

#infinite-footer {
  .blog-info,
  .blog-credits {
    padding-top: 10px;
  }
}

/*--------------------------------------------------------------
13.0 Mediaqueries
--------------------------------------------------------------*/

/* Define mobile styles */

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  h1 {
    font-size: 24px;
    font-size: 3.096rem;
  }

  h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }

  h3 {
    font-size: 25.6px;
    font-size: 2.56rem;
  }

  h4 {
    font-size: 20px;
    font-size: 2rem;
  }

  h5 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  h6 {
    font-size: 12.5px;
    font-size: 1.25rem;
  }

  html {
    font-size: 62.5%;
  }

  .entry-meta {
    padding: 40px 0;
  }

  .entry-header,
  .page-title {
    padding: 40px 0 0 0;
  }

  footer.entry-meta {
    margin-bottom: 80px;
  }

  #colophon {
    margin: 0 40px;
    padding: 80px 0;
  }

  .nav-links {
    overflow: hidden;

    padding: 40px;
  }

  .entry-thumbnail {
    margin-right: -40px;
    margin-bottom: 40px;
    margin-left: -40px;
  }

  #comments {
    padding: 40px;
  }
}

@media only screen and (min-width: 64.063em) {
  #mobile-panel {
    display: none;
  }

  .hentry,
  .page-header {
    margin: 0;
    padding: 0 40px 60px;
  }

  h1 {
    font-size: 24px;
    font-size: 3.096rem;
  }

  h2 {
    font-size: 32px;
    font-size: 3.2rem;
  }

  h3 {
    font-size: 25.6px;
    font-size: 2.56rem;
  }

  h4 {
    font-size: 20px;
    font-size: 2rem;
  }

  h5 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  h6 {
    font-size: 12.5px;
    font-size: 1.25rem;
  }

  html {
    font-size: 62.5%;
  }

  .entry-meta {
    padding: 80px 0 40px;
  }

  .entry-header,
  .page-title {
    padding: 40px 0 0 0;
  }

  footer.entry-meta {
    margin-bottom: 80px;
  }

  #colophon {
    margin: 0 40px;
    padding: 80px 0;
  }

  .nav-links {
    overflow: hidden;

    padding: 40px;
  }

  #page {
    position: relative;
    &:before {
      display: table;

      content: ' ';
    }
    &:after {
      display: table;
      clear: both;

      content: ' ';
    }
  }

  #content {
    width: 75%;
    &:before {
      width: 75%;
    }
  }

  body.secondary-sidebar #content {
    width: 60%;
    &:before {
      width: 60%;
    }
  }

  #content {
    float: left;
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;

      content: '';

      background-color: white;
    }
  }

  #secondary {
    font-size: 90%;

    display: block;
    float: right;

    width: 20%;
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;

      display: block;

      width: 20%;

      content: '';

      background-color: #f2f1ef;
    }
  }

  #masthead {
    width: 25%;
    &:before {
      width: 25%;
    }
  }

  body.secondary-sidebar #masthead {
    width: 20%;
    &:before {
      width: 20%;
    }
  }

  #masthead {
    font-size: 90%;

    display: block;
    float: left;
    &:before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 75%;
      bottom: 0;

      content: '';

      background: #fafafa;
    }
  }

  body.secondary-sidebar #masthead:before {
    right: 80%;
  }

  #page {
    width: 80%;
  }

  body.secondary-sidebar #page {
    width: 90%;
  }

  .entry-thumbnail {
    margin-right: -40px;
    margin-left: -40px;
  }

  #comments {
    padding: 40px;
  }
}

@media only screen and (min-width: 90.063em) {
  .widget,
  .site-branding {
    padding: 20px 40px;
  }

  .main-navigation {
    li {
      a {
        padding: 10px 40px;
      }
      &:first-child a {
        padding: 20px 40px 10px 40px;
      }
      &:last-child a {
        padding: 10px 40px 20px 40px;
      }
    }
    ul ul {
      li {
        a {
          padding-left: 60px;
        }
        &:first-child a,
        &:last-child a {
          padding: 10px 20px 10px 60px;
        }
      }
      ul {
        li {
          a {
            padding-left: 80px;
          }
          &:first-child a,
          &:last-child a {
            padding: 10px 20px 10px 80px;
          }
        }
        ul li {
          a {
            padding-left: 100px;
          }
          &:first-child a,
          &:last-child a {
            padding: 10px 20px 10px 100px;
          }
        }
      }
    }
  }

  #social-links-wrapper {
    padding: 40px;
  }

  #page {
    width: 70%;
  }

  body.secondary-sidebar #page {
    width: 80%;
  }

  .entry-thumbnail {
    margin-right: -40px;
    margin-left: -40px;
  }

  #comments {
    padding: 40px 0;
  }
}

@media only screen and (min-width: 120.063em) {
  #page {
    width: 65%;
  }

  body.secondary-sidebar #page {
    width: 80%;
  }
}

.headerok {
  font-family: 'Arimo', sans-serif;

  padding: 50px 0 0;
  h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;

    margin: 0 0 7px;

    text-decoration: none;

    color: #cf000f;
    a {
      color: #cf000f;
    }
  }
  h2 {
    font-size: 18px;
    line-height: 1;

    margin: 0 0 30px;

    color: #aaa;
  }
}

.headerok-nav {
  display: inline-block;

  width: 69%;
  padding: 0 0 10px;
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }
  li {
    display: inline-block;

    padding: 0 15px;

    border-right: 1px solid #b4b4b4;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;

      border: 0;
    }
    a {
      font-family: 'Arimo', sans-serif;
      font-size: 16px;

      text-decoration: none;

      color: #414040;
    }
  }
}

.head-phone {
  font-size: 26px;
  font-weight: normal;

  display: inline-block;
  display: block;

  width: 30%;
  height: 50px;

  text-align: right;
  text-decoration: none;

  color: #cf000f !important;
  background-image: url(img/phone-ico.png);
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: 1150px) {
  #page {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .head-phone {
    font-size: 23px;

    width: 185px;
    padding: 7px 0;
  }
}

@media (max-width: 1025px) {
  .headerok-nav {
    display: none;
  }

  .headerok {
    h1,
    h2 {
      display: none;
    }
  }

  .head-phone {
    float: right;
  }

  .headerok {
    height: 60px;
    padding: 10px 0 0;
  }
}

@media (max-width: 450px) {
  .headerok.entry-meta {
    border-bottom: 0;
    a {
      font-size: 30px;

      display: block;

      width: 100%;

      text-align: center;
    }
  }
  h1.site-title .main-title {
    display: none;
  }
  h1.site-title .second-title {
    display: inline;
  }
  #mobile-link:before {
    font-size: 48px;
    padding-top: 20px;
    padding-left: 10px;
  }
  #mobile-link {

  }
}

#mobile-panel {
  position: relative;

  overflow: visible;

  height: 96px;
  h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    font-size: 30px !important;

    float: left !important;

    margin-left: 70px !important;
    padding: 12px 0 !important;

    text-transform: capitalize;

    color: #fff;
  }
  h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 18px !important;

    float: left;

    padding-left: 80px;

    color: #aaa !important;
  }
}

.headerok-small {
  position: absolute;
  top: 0;
  left: 0;

  width: 60px;
  height: 96px;

  background-image: url(img/burger.png);
  background-repeat: no-repeat;
  background-position: right center;
  div {
    position: relative;

    width: 100%;
    height: 100%;
  }
  ul {
    position: absolute;
    z-index: 10;
    top: 96px;
    left: 0;

    display: none;

    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.menu-display ul {
  display: block;
}

.headerok-small li {
  padding: 13px 35px;

  border-top: 2px solid #fff;
  background-color: #cf000f;
  a {
    text-decoration: none;

    color: #fff;
  }
}
