/*
Theme Name: Adaption
Theme URI: http://adaptiondemo.wordpress.com/
Author: Automattic
Author URI: http://themes.wordpress.com/
Description: A theme that adapts to your content, making sure it looks good on any device. Full width featured images make your content stand out. This theme adapts as add widgets with a 3rd column added to the layout.
Version: 1.0.6-wpcom
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: adaption
Domain Path: /languages/
Tags: black, white, red, three-column, fixed-layout, two-column, responsive-layout, fluid-layout, custom-colors, custom-header, custom-menu, editor-style, infinite-scroll, post-formats, rtl-language-support, sticky-post, translation-ready, photoblogging, photography, clean, contemporary, light, minimal, modern, simple, professional, custom-background, custom-header, blog, journal

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Adaption is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Clearings
3.0 - Alignments
4.0 - Typography
5.0 - Elements
6.0 - Forms
7.0 - Media
8.0 - Navigation
9.0 - Accessiblity
10.0 - Widgets
11.0 - Content
12.0 - Infinite scroll
13.0 - Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

caption,
th,
td {
  text-align: right;
}

/*--------------------------------------------------------------
2.0 Clearings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/
.alignright {
  float: right;

  margin-right: auto;
  margin-left: 20px;
}

.alignleft {
  float: left;

  margin-right: 20px;
  margin-left: auto;
}

img.alignleft {
  margin-right: 10px;
  margin-left: auto;
}

img.alignright {
  margin-right: auto;
  margin-left: 10px;
}

/*--------------------------------------------------------------
4.0 Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.0 Elements
--------------------------------------------------------------*/

ul,
ol {
  margin: 0 40px 20px 0;
}

li > ul,
li > ol {
  margin-right: 20px;
  margin-left: auto;
}

/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/

textarea {
  padding-right: 3px;
  padding-left: 0;
}

/*--------------------------------------------------------------
7.0 Media
--------------------------------------------------------------*/

/* Make sure embeds and iframes fit their containers */

img.alignright {
  margin: 20px 0 20px 20px;
}

img.alignleft {
  margin: 20px 20px 20px 0;
}

/*--------------------------------------------------------------
8.0 Navigation
--------------------------------------------------------------*/

.main-navigation ul {
  padding-right: 0;
  padding-left: 0;
}

[class*='navigation'] .nav-previous {
  float: right;
}

[class*='navigation'] .nav-next {
  float: left;

  text-align: left;
}

.showsub-toggle {
  right: auto;
  left: 0;
}

.showsub-toggle:after {
  right: auto;
  left: 11px;
}

.social-links ul:last-of-type {
  margin-right: auto;
  margin-left: 0;
}

#mobile-link {
  float: right;
}

#mobile-panel h1.site-title {
  float: left;
}

/*--------------------------------------------------------------
9.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  right: 5px;
  left: auto;
}

/*--------------------------------------------------------------
10.0 Widgets
--------------------------------------------------------------*/

/* Search widget */

.widget .sub-menu {
  padding-right: 10px;
  padding-left: 0;
}

#widget-link {
  float: right;
}

/*--------------------------------------------------------------
11.0 Content
--------------------------------------------------------------*/

.entry-thumbnail {
  margin-right: -20px;
  margin-left: -20px;
}

.comments-link {
  float: left;
}

.edit-link {
  padding: 0 20px 0 0;
}

.entry-top span.author:after,
.entry-top span.comments-link:after,
.entry-top span.edit-link:after {
  margin-right: 0;
  margin-left: auto;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/

.comment-list .comment-author img.avatar {
  float: right;

  margin: 0 0 5px 10px;
}

.comment-wrapper {
  margin-right: 70px;
  margin-left: auto;
}

.reply {
  float: left;
}

.comment-list .comment-author img.avatar {
  float: right;

  margin: 0 0 5px 10px;
}

.comment-wrapper {
  margin-right: 70px;
  margin-left: auto;
}

.reply {
  float: left;
}

/*--------------------------------------------------------------
12.0 Infinite Scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

span.infinite-loader .spinner {
  right: 50% !important;
  left: auto;
}

/*--------------------------------------------------------------
13.0 Mediaqueries
--------------------------------------------------------------*/
/* Define mobile styles */
/* min-width 641px, use when QAing tablet-only issues */
@media only screen and (min-width: 64.063em) {
  #masthead {
    float: right;
  }

  #masthead:before {
    right: auto;
    left: 75%;
  }

  #secondary {
    float: left;
  }

  #secondary:before {
    right: auto;
    left: 0;
  }
}
